@-moz-document url(chrome://browser/content/browser.xul), url(chrome://browser/content/browser.xhtml) {

  * {
    scrollbar-width: none !important;
  }

  :root {	
    --tab-min-height: 20px;
    --tab-max-height: 20px;
    --toolbarbutton-inner-padding: 0;
    --toolbar-field-focus-border-color: rgb(0, 0, 0);

    --my-bg-color: rgb(30, 48, 67);
    --my-bg-color-navbar: rgb(30, 48, 67);
    --my-bg-color-gradient: linear-gradient(rgba(100,103,120, .9), rgba(150,103,120, .9));
    --my-bg-color-gradient-inverted: linear-gradient(rgba(150,103,120, .9),rgba(100,103,120, .9));
    --my-bg-color-hover: rgba(100, 0, 0, 0.8);
    --my-font-size: 1em;
    --my-min-font-size: 0.8em;
    --my-button-active-bgcolor: rgba(70, 70, 120, 0.9);

    --my-tab-text-color: rgba(215, 215, 215, 0.9);
    --my-tab-text-color-selected: rgb(255, 255, 255);
    --my-tab-font-size: 0.9em;

    /* Browser */
    #browser {
      background: var(--my-bg-color) !important;

      #tabbrowser-tabpanels {
        border-radius: 8px !important;
        background: var(--my-bg-color) !important;
      }

      #tabbrowser-tabbox {
        box-shadow: none !important;
        outline: none !important;
        overflow: unset !important;
      }

      #tabbrowser-tabbox browser {
        background-color: var(--my-bg-color) !important;
        border-radius: 8px !important;
      }

      .browserContainer {
        border-radius: 8px !important;
      }

      .browserStack {
        border-radius: 8px !important;
        margin: 4px !important;
      }
    }

    [class="devtools-horizontal-splitter"] {
      margin-bottom: 1px !important;
      width: 100px !important;
    }
  }

  #sidebar-main button-group {
    background-color: var(--my-bg-color) !important;
  }

  /* Tabs */
  #tabbrowser-tabs {
    background-color: var(--my-bg-color) !important;

    [class="tabbrowser-tab"][soundplaying] [class="tab-icon-overlay"] { 
      display: none !important;
    }

    #tabbrowser-arrowscrollbox-periphery {
      display: none !important;
    }

    /* Pinned tabs */
    #vertical-pinned-tabs-container {
      [class="tabbrowser-tab"] {

        border: 1px solid transparent !important;
        border-radius: 6px !important;

        [class="tab-icon-image"] {
          width: 16px !important;
          height: 16px !important;
        }

        :hover [class="tab-background"] {
          background-color: var(--my-button-active-bgcolor) !important;
        }

        [class="tab-background"] {
          padding-top: 17px !important;
          padding-bottom: 17px !important;
          transition: box-shadow .3s;
          background-color: var(--my-bg-color) !important;
        }

      }

      /* Max amount of the pinned tabs */
      max-height: calc(12 * var(--tabstrip-min-height) + var(--space-large)) !important;
    }

    [class="tabbrowser-tab"] {

      padding-block: 0 0 !important;

      :hover [class="tab-background"] {
        background: var(--my-button-active-bgcolor) !important;
      }

      [class="tab-icon-image"] {
        width: 12px !important;
        height: 12px !important;
      }

      [class="tab-background"] {
        border: none !important;
        box-shadow: none !important;
        border-radius: 10px !important;
        outline: none !important;
        min-height: 24px !important;
      }

      [class="tab-content"] {
        font-size: var(--my-tab-font-size) !important;

        [class*="tab-text"] {
          color: var(--my-tab-text-color) !important;
        }

        [class="tab-icon-stack"] {
          margin-left: 5px !important;
          margin-right: 5px !important;
        }

        [class*="tab-close-button"] {
          margin-right: 5px !important;
          width: 20px !important;
          height: 20px !important;
        }
      }

      [class="tab-background"][selected] {
        background: var(--my-button-active-bgcolor) !important;
      }

      [class="tab-content"][selected] [class*="tab-text"][selected] {
        color: var(--my-tab-text-color-selected) !important;
      }

    }
  }

  /* Navbar */
  #navigator-toolbox {
    background: var(--my-bg-color) !important;
  }

  #nav-bar {
    background: var(--my-bg-color) !important;
    font-size: .8em !important;
    font-size: .8em !important;
    height: 25px !important;

    #nav-bar-customization-target { 
      margin-left: 1% !important;

      image {
        width: 13px !important;
      }
    }

    #urlbar-results {
      background: var(--my-bg-color) !important;
    }

    #urlbar[focused] #urlbar-background {
      outline: none !important;
    }

    #urlbar-background {
      border: none !important;
      background: var(--my-bg-color) !important;
    }

    #tracking-protection-icon-container,
    #unified-extensions-button,
    #reload-button,
    #forward-button,
    #stop-button,
    #urlbar-revert-button-container,
    #sidebar-button,
    #identity-box,
    #page-action-buttons,
    #back-button {
      display: none !important;
    }

    #urlbar-searchmode-switcher {
      display: none !important;
    }

    #urlbar[focused] {
      outline: none !important;
      border: 0 !important;
      border-color: var(--my-bg-color) !important;

      #urlbar-searchmode-switcher {
        display: none !important;
      }
    }

    #urlbar[open] {
      #urlbar-background {
        border: 0 !important;
        border-inline: 0 !important;
        border-radius: 0 0 20px 20px !important;
        border-color: transparent !important;
      }

      .urlbarView {
        border-inline: 0 !important;
        border: 0 !important;
        border-color: transparent !important;
        border-radius: 0 0 30px 30px !important;

        .urlbarView-body-inner {
          #urlbar[open] > .urlbarView > .urlbarView-body-outer > & {
            border-top: 0px solid transparent !important;
          }
        }
      }
    }

    #urlbar[focused] #urlbar-input {
      padding-left: 15px !important;
      outline: none !important;
      border: 1px !important;
      border-color: var(--my-bg-color) !important;

      #urlbar-searchmode-switcher {
        display: none !important;
      }
    }

    #urlbar[breakout][breakout-extend] {

      #identity-box,
      #tracking-protection-icon-container,
      #urlbar-searchmode-switcher {
        display: none !important;
      }

      #urlbar-container {
        #urlbar {
          min-height: 0 !important;
          height: 25px !important;

          #searchmode-switcher-icon {
            height: 12px !important;
            width: 12px !important;
          }

          #tracking-protection-icon, 
          #identity-icon,
          #page-action-buttons image {
            width: 10px !important;
          }

          .urlbarView {
            border-inline: 1px !important;
            border: 1px !important;
            border-color: var(--my-bg-color) !important;
            border-radius: 20px !important;
          }
        }
      }
    }
  }

  #PersonalToolbar {
    background-color: var(--my-bg-color) !important;

    .bookmark-item {
      color: #ccc !important;
    }

    .bookmark-item image {
      display: none !important;
    }
  }

  .actions-list {
    & > moz-button:not(.tools-overflow) {
      &:last-of-type {
        display: none !important;
      }
    }
  }
}
